:root {
  --text-color: #212121;
  --theme-color: #e5e5e5;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--theme-color);
  color: var(--text-color);
  font-weight: 500;
}

.logo {
  text-decoration: none;
  color: #212121;
}
.index {
  text-decoration: none;
  color: #212121;
}
.portfolio {
  text-decoration: none;
  color: #212121;
}
.contact {
  text-decoration: none;
  color: #212121;
}
.e-mail {
  text-decoration: none;
  color: #212121;
}
.telephone {
  text-decoration: none;
  color: #212121;
}
.logo-footer {
  text-decoration: none;
  color: #212121;
}
.footer-info {
  text-decoration: none;
  color: #212121;
}

.logo:hover,
.logo:focus {
  color: #2196f3;
}
.index:hover,
.index:focus {
  color: #2196f3;
}
.portfolio:hover,
.portfolio:focus {
  color: #2196f3;
}
.contact:hover,
.contact:focus {
  color: #2196f3;
}
.e-mail:hover,
.e-mail:focus {
  color: #2196f3;
}
.telephone:hover,
.telephone:focus {
  color: #2196f3;
}
.logo-footer:hover,
.logo-footer:focus {
  color: #2196f3;
}
.footer-info:hover,
.footer-info:focus {
  color: #2196f3;
}
.main-button:hover,
.main-button:focus {
  color: #2196f3;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: #2196f3;
}

.main-header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;

  background: #ffffff;
}

.address-footer {
  position: absolute;
  width: 246px;
  height: 81px;
  left: 215px;
  top: 111px;
  color: #ffffff;
}

.main-h1 {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 200px;

  font-weight: 900;
  font-size: 44px;
  line-height: 136%;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.main-button .portfolio-button {
  cursor: pointer;
}

.main-footer {
  background: #2f303a;
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
}

.web {
  color: #2196f3;
}
.studio {
  color: #000000;
}

.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: 'Raleway', sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.e-mail {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;

  font-size: 14px;
  line-height: 16px;
}

.telephone {
  position: absolute;
  width: 110px;
  height: 16px;
  left: 1263px;
  top: 32px;

  font-size: 14px;
  line-height: 16px;
  color: #757575;
}

.index {
  position: absolute;
  width: 53px;
  height: 16px;
  left: 453px;
  top: 32px;

  font-size: 14px;
  line-height: 16px;
}
.portfolio {
  position: absolute;
  width: 58px;
  height: 16px;
  left: 552px;
  top: 32px;

  font-size: 14px;
  line-height: 16px;
}
.contact {
  position: absolute;
  width: 51px;
  height: 16px;
  left: 656px;
  top: 32px;

  font-size: 14px;
  line-height: 16px;
}
.main-div {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: #2f303a;
}
.portfolio-main-div {
  position: absolute;
  width: 572px;
  height: 54px;
  left: 510px;
  top: 174px;
}

.main-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.footer-info {
  color: rgba(255, 255, 255, 0.6);
  top: 9px;
  padding-inline-start: 0%;
}

.logo-footer {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 60px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.team {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;

  background: #f5f4fa;
}

.lorem {
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
}

.what-to-do {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}

.lorem-li {
  display: block;
  float: left;
  width: 270px;
  height: 101px;
  left: 215px;
  top: 774px;
}

.lorem-p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #757575;
}

.lorem-h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.to-do-li {
  display: block;
  float: left;
  margin: 10px;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
}

.team-li {
  display: block;
  float: left;
}

.team {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;

  background: #f5f4fa;
}

.team-figure {
  background: #ffffff;
}
.figure-image-portfolio {
  background: #ffffff;
}

.portfolio-main {
  position: absolute;
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}

.button-portfolio {
  display: block;
  float: left;

  width: 121px;
  height: 38px;
  left: 510px;
  top: 174px;
}

.li-images-portfolio {
  display: block;
  float: left;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
}

.images-portfolio {
  top: 262px;
}
